<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>О компании</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="index.html">ООО "Компания"</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="index.html">Главная</a></li>
                            <li class="nav-item"><a class="nav-link" href="catalog.html">Каталог</a></li>
                            <li class="nav-item"><a class="nav-link" href="portfolio-overview.html">Наши работы</a></li>
                            <li class="nav-item"><a class="nav-link" href="news.html">Новости</a></li>
                            <li class="nav-item"><a class="nav-link" href="about.html">О компании</a></li>
                            <li class="nav-item"><a class="nav-link" href="contact.html">Контакты</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <section class="container py-5">
                <div class="carousel slide" id="carouselExample">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="https://dummyimage.com/1320x500/343a40/6c757d" />
                            <div class="carousel-caption d-none d-md-block"><p>Слайд с подписью</p></div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Влево</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Вправо</span>
                    </button>
                </div>
            </section>
            <section class="container py-5">
                <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                    <div class="col-10 col-sm-8 col-lg-6"><img class="d-block mx-lg-auto img-fluid" src="https://dummyimage.com/600x300/343a40/6c757d" /></div>
                    <div class="col-lg-6">
                        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Заголовок и текст</h1>
                        <p class="lead">Текстовое содержимое для блока лучше всего сделать строки на три-четыре, так оно визуально более приятно. Ну либо играться с высотой изображения справа, но зачем, если нетрудно наколбасить букв</p>
                    </div>
                </div>
            </section>
            <section class="container py-5">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top" src="https://dummyimage.com/420x225/343a40/6c757d" />
                            <div class="card-body">
                                <h5 class="card-title">Короткий Заголовок</h5>
                                <p class="card-text">Одинаковые блоки, подойдут для вывода каких-то услуг с кратким описанием</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top" src="https://dummyimage.com/420x225/343a40/6c757d" />
                            <div class="card-body">
                                <h5 class="card-title">Короткий Заголовок</h5>
                                <p class="card-text">Одинаковые блоки, подойдут для вывода каких-то услуг с кратким описанием</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img class="bd-placeholder-img card-img-top" src="https://dummyimage.com/420x225/343a40/6c757d" />
                            <div class="card-body">
                                <h5 class="card-title">Короткий Заголовок</h5>
                                <p class="card-text">Одинаковые блоки, подойдут для вывода каких-то услуг с кратким описанием</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Team members section-->
            <section class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="fw-bolder">Люди в компании</h2>
                        <p class="lead fw-normal text-muted mb-5">Крестом и пестом уговорили сфоткаться четверых</p>
                    </div>
                    <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="https://dummyimage.com/150x150/ced4da/6c757d" alt="..." />
                                <h5 class="fw-bolder">Иван Иванов</h5>
                                <div class="fst-italic text-muted">Отец &amp; Основатель</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="https://dummyimage.com/150x150/ced4da/6c757d" alt="..." />
                                <h5 class="fw-bolder">Петр Петров</h5>
                                <div class="fst-italic text-muted">Директор</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-sm-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="https://dummyimage.com/150x150/ced4da/6c757d" alt="..." />
                                <h5 class="fw-bolder">Елена Еленина</h5>
                                <div class="fst-italic text-muted">Сижу на ресепшене</div>
                            </div>
                        </div>
                        <div class="col mb-5">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="https://dummyimage.com/150x150/ced4da/6c757d" alt="..." />
                                <h5 class="fw-bolder">Андрей Казунин</h5>
                                <div class="fst-italic text-muted">Делал сайт</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; 2024</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!">Приватность</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Всякое</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="contact.html">Контакты</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
