<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Каталог</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="index.html">ООО "Компания"</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="index.html">Главная</a></li>
                            <li class="nav-item"><a class="nav-link" href="catalog.html">Каталог</a></li>
                            <li class="nav-item"><a class="nav-link" href="portfolio-overview.html">Наши работы</a></li>
                            <li class="nav-item"><a class="nav-link" href="news.html">Новости</a></li>
                            <li class="nav-item"><a class="nav-link" href="about.html">О компании</a></li>
                            <li class="nav-item"><a class="nav-link" href="contact.html">Контакты</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <section class="container px-5">
                <div class="row">
                    <aside class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary py-3">
                        <h3 class="h6 fs-6 p-3">Разделы каталога</h3>
                        <ul class="nav flex-column">
                            <li class="nav-item"><a class="nav-link d-flex align-items-center" href="#">Продукты</a></li>
                            <li class="nav-item"><a class="nav-link d-flex align-items-center" href="#">Продукты</a></li>
                        </ul>
                    </aside>
                    <div class="col-md-9 ms-sm-auto col-lg-10 py-3">
                        <section>
                            <div class="container px-4 px-lg-5 mt-3">
                                <h1 class="pb-4">Каталог продукции</h1>
                                <div class="row py-2 gx-4 gx-lg-5 row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content-center">
                                    <div class="col mb-5 col-12">
                                        <div class="card h-100">
                                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                                            <div class="card-body p-4">
                                                <div class="text-center">
                                                    <h5 class="fw-bolder">Гайка М6</h5>
                                                    <div class="price text-muted">1000 руб</div>
                                                </div>
                                            </div>
                                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                                <div class="text-center"><a class="stretched-link btn btn-outline-dark mt-auto" href="catalog-item.html">Подробнее</a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col mb-5 col-12">
                                        <div class="card h-100">
                                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                                            <div class="card-body p-4">
                                                <div class="text-center">
                                                    <h5 class="fw-bolder">Гайка М6</h5>
                                                    <div class="price text-muted">1000 руб</div>
                                                </div>
                                            </div>
                                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                                <div class="text-center"><a class="stretched-link btn btn-outline-dark mt-auto" href="catalog-item.html">Подробнее</a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col mb-5 col-12">
                                        <div class="card h-100">
                                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                                            <div class="card-body p-4">
                                                <div class="text-center">
                                                    <h5 class="fw-bolder">Гайка М6</h5>
                                                    <div class="price text-muted">1000 руб</div>
                                                </div>
                                            </div>
                                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                                <div class="text-center"><a class="stretched-link btn btn-outline-dark mt-auto" href="catalog-item.html">Подробнее</a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col mb-5 col-12">
                                        <div class="card h-100">
                                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                                            <div class="card-body p-4">
                                                <div class="text-center">
                                                    <h5 class="fw-bolder">Гайка М6</h5>
                                                    <div class="price text-muted">1000 руб</div>
                                                </div>
                                            </div>
                                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                                <div class="text-center"><a class="stretched-link btn btn-outline-dark mt-auto" href="catalog-item.html">Подробнее</a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col mb-5 col-12">
                                        <div class="card h-100">
                                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                                            <div class="card-body p-4">
                                                <div class="text-center">
                                                    <h5 class="fw-bolder">Гайка М6</h5>
                                                    <div class="price text-muted">1000 руб</div>
                                                </div>
                                            </div>
                                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                                <div class="text-center"><a class="stretched-link btn btn-outline-dark mt-auto" href="catalog-item.html">Подробнее</a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col mb-5 col-12">
                                        <div class="card h-100">
                                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                                            <div class="card-body p-4">
                                                <div class="text-center">
                                                    <h5 class="fw-bolder">Гайка М6</h5>
                                                    <div class="price text-muted">1000 руб</div>
                                                </div>
                                            </div>
                                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                                <div class="text-center"><a class="stretched-link btn btn-outline-dark mt-auto" href="catalog-item.html">Подробнее</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row py-2 gx-5">
                                    <nav>
                                        <ul class="pagination justify-content-center">
                                            <li class="page-item"><a class="page-link" href="news-one.html">1</a></li>
                                            <li class="page-item"><span class="page-link active" href="news-one.html">2</span></li>
                                            <li class="page-item"><a class="page-link" href="news-one.html">3</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
        </main>
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; 2024</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!">Приватность</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Всякое</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="contact.html">Контакты</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
