<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content />
        <meta name="author" content />
        <title>Контактная информация</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="index.html">ООО "Компания"</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="index.html">Главная</a></li>
                            <li class="nav-item"><a class="nav-link" href="catalog.html">Каталог</a></li>
                            <li class="nav-item"><a class="nav-link" href="portfolio-overview.html">Наши работы</a></li>
                            <li class="nav-item"><a class="nav-link" href="news.html">Новости</a></li>
                            <li class="nav-item"><a class="nav-link" href="about.html">О компании</a></li>
                            <li class="nav-item"><a class="nav-link" href="contact.html">Контакты</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <section class="py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-6 mb-4">
                            <div class="card mb-4">
                                <div class="card-header py-3"><h5 class="mb-0">Хотите что-то нам написать?</h5></div>
                                <div class="card-body">
                                    <form class="needs-validation">
                                        <div class="form-group mb-3 mt-3">
                                            <input class="form-control form-control-sm" type="text" name="name" id="name" />
                                            <label class="form-label mt-1 text-shadow" for="name">Ваше имя</label>
                                            <div class="invalid-feedback"></div>
                                        </div>
                                        <div class="form-group mb-3 mt-3">
                                            <input class="form-control form-control-sm" type="text" name="phone" id="phone" />
                                            <label class="form-label mt-1 text-shadow" for="phone">Ваше имя</label>
                                            <div class="invalid-feedback"></div>
                                        </div>
                                        <div class="form-group mb-3 mt-3">
                                            <textarea class="form-control form-control-sm" name="phone" id="comment"></textarea>
                                            <label class="form-label mt-1 text-shadow" for="comment">Что бы вы хотели узнать?</label>
                                            <div class="invalid-feedback"></div>
                                        </div>
                                        <div class="form-group field"><input class="btn btn-primary" type="submit" value="Отправить" /></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6 mb-4">
                            <div class="card mb-4">
                                <div class="card-header py-3"><h5 class="mb-0">Адреса и телефоны</h5></div>
                                <div class="card-body">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0"></li>
                                        Адрес: город Вологда, улица Добрых Строителей, строение 5
                                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0"></li>
                                        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A65946ea648b913e9a26631d832814832839608dfd97f0d84960c17b4dbf88085&amp;width=100%25&amp;height=300&amp;lang=ru_RU&amp;scroll=true"></script>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h1 class="h1">Контактная информация</h1>
                            <p>Сайт сделан в рамках уроков по системе управления Evoluiton CMS. Компания выдумана, весь контент сгенерировала Алиса в соавторстве с Чатжпт. Картинки взяты первые попавшиеся.</p>
                            <p>
                                Уроки, в которых используется этот шаблон находятся на
                                <a href="https://github.com/0test/lessons-evolution-company">моём гитхабе</a>
                                , сам я нахожусь
                                <a href="https://kazunin.ru/">тут</a>
                                .
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; 2024</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!">Приватность</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Всякое</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="contact.html">Контакты</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
